<div class="modal-header">
  <button type="button" class="close" ng-click="cancel(item)"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Edit {{contentTitle}}</h4>
</div>
<div class="modal-body">
  <form ng-submit="">
    <input value="{{item.name}}" class="form-control edit-name" ng-model="item.name"/>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default cancel-changes" ng-click="cancel(item)">Cancel</button>
  <button type="button" class="btn btn-primary apply-changes" ng-click="ok(item)">Save changes</button>
</div>