// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.add-task {
  padding: 10px;
  background-color: #fff;
}
.tasks {
  .lines {
    border-left: 1px solid #ffaa9f;
    border-right: 1px solid #ffaa9f;
    width: 2px;
    float: left;
    height: 495px;
    margin-left: 40px;
  }
  .list {
    color: #555;
    font-size: 22px;
    padding: 0;
    font-family: courier, monospace;
    border: 1px solid #dedede;
    li {
      list-style: none;
      border-bottom: 1px dotted #ccc;
      text-indent: 25px;
      height: auto;
      text-transform: capitalize;
      &:hover {
        background-color: #f0f0f0;
        -webkit-transition: all 0.2s;
        -moz-transition:    all 0.2s;
        -ms-transition:     all 0.2s;
        -o-transition:      all 0.2s;
      }
    }
  }
  .task {
    background-color: #f5f5f5;
    .task-status {
      border-right: 1px solid #ffaa9f;
      .checkbox {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    .task-control {
      text-indent: 0;
      .ctrl {
        cursor: pointer;
      }
      .ctrl-move {
        cursor: move;
      }
    }
    .task-name {
    }
  }
}